<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css')}}">
    {% block title %} {% endblock %}
</head>
<body>

    {% block main %} {% endblock %}

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora fugit nulla, velit expedita officia quo officiis cum ratione alias perspiciatis at exercitationem commodi eligendi atque hic eum nemo aperiam. Nulla similique, ex obcaecati vel qui non temporibus? Dolorum reprehenderit porro eveniet harum repudiandae, fugit sunt unde rerum molestias recusandae delectus tempora ab placeat tenetur eaque accusamus autem dignissimos. Magnam maxime provident ad ullam sint quis exercitationem, iste, harum dolorem, eos quibusdam eveniet. Pariatur autem ratione quidem, facere reprehenderit, ipsum veritatis quo consequatur sunt eligendi repudiandae vero magnam ad. Fugiat repellendus nihil id molestias provident ex cumque nulla aliquam autem quaerat?</p>
    
</body>
</html>