{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
<h1>Home</h1>

<div class="bloco-azul"></div>

<div class="help"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit mollitia tempore harum itaque recusandae quasi assumenda cumque neque architecto corporis facere fuga dicta placeat totam asperiores dolorem voluptate repudiandae, praesentium unde ipsa eaque laudantium error a! Aliquam molestias tempore eaque sequi, officia ipsam quam dicta aliquid? Officiis repudiandae commodi ad fugiat animi, odit labore! Similique aliquid animi laudantium quod culpa omnis tenetur, doloribus sed nisi ullam est nemo id! Maiores nulla nobis repellendus aspernatur adipisci placeat sapiente blanditiis distinctio. Eos velit unde molestiae, est architecto magnam ipsum exercitationem possimus fuga vel mollitia nam. Ex culpa sequi explicabo quos? Asperiores, quaerat.</p></div>
{% endblock %}